
@if(!client()) {
    <p>No client selected.</p>
} @else {
    <h2>{{client()?.name}}'s cars</h2>
}
<div id="cars">
    @if(!clientCars() || clientCars().length === 0) {
        <p>No cars registered for this client.</p>
    } @else {
        @for(car of clientCars(); track car.id) {
        <div class="car" (click)="showServiceList(car)">
            <h4>{{car.type}}</h4>
            <p>id: {{car.id}}</p>
            <p>registered: {{car.registered | date}}</p>
        </div>
    }
    }
    
</div>
<button class="btn btn-primary m-5" routerLink="/clients">Back to clients</button>