#clients{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    .client{
        width: 100%;
        max-width: 300px;
        height: 200px;
        background-color: var(--color-primary);
        color: var(--color-text);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        cursor: pointer;
    }
}