<app-client-search/>
<h1>Clients</h1>
<div id="clients">
    
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Card Number</th>
            <th>ID</th>
        </thead>
        <tbody>
            @for(client of clients(); track client.id) {
            <tr (click)="showClientWithCars(client)" class="client-row">
                <td>{{client.name}}</td>
                <td>{{client.card_number}}</td>
                <td>{{client.id}}</td>
            </tr>
            }
        </tbody>
    </table>
    <app-paginator (callData)="getClientsFromDB($event)" [totalPagesNum]="responseData?.last_page"/>
</div>